# How to install dependencies:

# 1 - yarn init -y
# 2 - yarn add express
# 3 - yarn add -D @types/express typescript ts-node-dev
# 4 - yarn add prisma -D

node_modules

yarn.lock
# yarn lockfile v1 --> All dependencies description installed